#Install PyTorch optimized for CPU (smaller than for GPU). If you want to train the model, download a version of PyTorch optimized for GPU.
--index-url https://download.pytorch.org/whl/cpu #url for pytorch
--extra-index-url https://pypi.org/simple #url for other packages

torch==2.1.1
torchvision==0.16.2
tqdm==4.64.1
numpy==1.24.3
pillow==10.0.1